Sujet1/Question2/truc1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="truc1">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="machin" type="xsd:string" minOccurs="2" maxOccurs="2"/>
        <xsd:element name="bidule" type="xsd:integer" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>